@page "/record-activity"
@using Interfaces

<div>
    <h3>Record an activity</h3>
    <div class="card shadow">
        <div class="card-body">
            Record transport activity

        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}